@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
	height: 100%;
}

body {
    margin: 0;
}

.text-danger {
    color: red;
}

.container > .content {
	padding: 15px 20px;
}

form {
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}